<div class="container">
<div class="col-lg-6">
<h1>
	Welcome to<span class="glyphicon glyphicon-book" aria-hidden="true">Bookers!</span>
</h1>


<p class="text-right">CopyRight Infratop.inc</p>
</div>
</div>